<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>Postcode Checker</title>
</head>
<body>
  <h1>Result</h1>

  <a href="/">Back to the homepage</a>

  <div>
    <% if @valid %>
      This is a valid postcode
    <% else %>
      This is not a valid postcode
    <% end %>
  </div>
</body>
</html>