<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>The Broken Blog</title>
</head>
<body>
  <h1>The Broken Blog</h1>

  <h3>Add a new post</h3>
  <form method="post" action="/posts">
    Title: <input type="text" name="content" />
    Content: <input type="text" name="content" />
    Tags: <input type="text" name="tags" />

    <input type="submit" value="Submit" />
  </form>

  <hr />
  <% @posts.each do |post| %>
    <div>
      <h3><%= post.title %></h3>
      <p><%= post.content %></p>
    </div>
  <% end %>
</body>
</html>