<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>Greeter app</title>
</head>
<body>
  <h1>Greeter app</h1>

  <form action="/hello" method="POST">
    Please enter your name: 
    <input type="text" name="name" />

    <input type="submit" />
  </form>
</body>
</html>